<form (ngSubmit)="login()" #loginForm="ngForm" class="loginForm">
    <img src="../../../assets/kg-logo.png" alt="logo" class="login-logo">
    <h2 class="form-heading">KG-Dashboard Login</h2>
    <label>Email</label>
    <input type="email" name="email" [(ngModel)]="email" required placeholder="Enter your email" />

    <label>Password</label>
    <input type="password" name="password" [(ngModel)]="password" required placeholder="Enter your password" />
    <div style="margin-bottom: 10px;">
        <a routerLink="/forgot-password">Forgot Password?</a>
    </div>

    <div *ngIf="error" class="error">{{ error }}</div>

    <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>