<div class="sidebar">
    <ul>
        <li *ngIf="hasPermission('create-new-user')">
            <a
                [routerLink]="role.toLowerCase() === 'admin' ? ['/create-new-user'] : ['/', roleDashboard, 'create-new-user']">
                Create New User
            </a>
        </li>
        <li *ngIf="hasPermission('settings')">
            <a [routerLink]="role.toLowerCase() === 'admin' ? ['/settings'] : ['/', roleDashboard, 'settings']">
                Settings
            </a>
        </li>
    </ul>
</div>