<div class="sidebar">
    <ul>
        <li>
            <a class="sidebar-nav" *ngIf="auth.hasPermission('view_create_new_user')" [routerLink]="getCreateUserLink()"
                routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Create New User</a>
        </li>
        <li>
            <a class="sidebar-nav" *ngIf="auth.hasPermission('view_create_new_user')"
                [routerLink]="getNEwEmployeeLink()" routerLinkActive="active-link"
                [routerLinkActiveOptions]="{ exact: true }">Create New Employee</a>
        </li>
        <li>
            <a class="sidebar-nav" *ngIf="auth.hasPermission('view_settings')" [routerLink]="getSettingsLink()"
                routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Settings</a>
        </li>
        <!-- Admin-only All Users button -->
        <li *ngIf="role === 'Admin'">
            <a routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="sidebar-nav"
                class="all-users-btn" (click)="openAllUsers()">All Users</a>
        </li>
    </ul>
</div>