.create-new-user {
    max-width: 500px;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 12px;
    background-color: #ffffff;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}

.create-new-user h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    color: #682f12;
}

.create-new-user label {
    margin-top: 1rem;
    margin-bottom: 0.4rem;
    font-weight: 600;
    color: #682f12;
}

.create-new-user input[type="text"],
.create-new-user input[type="email"],
.create-new-user input[type="password"],
.create-new-user select {
    width: 100%;
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.create-new-user input:focus,
.create-new-user select:focus {
    border-color: #682f12;
    outline: none;
}

/* Dropdown checkbox styles */
.dropdown-checkbox {
    position: relative;
    width: 100%;
    margin-top: 0.5rem;
}

.dropdown-header {
    padding: 0.6rem 0.8rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: border-color 0.3s;
}

.dropdown-header:hover {
    border-color: #682f12;
}

.dropdown-header .arrow {
    font-size: 0.9rem;
    margin-left: 10px;
    color: #682f12;
    ;
}

.dropdown-list {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding: 0.5rem;
    margin-top: 4px;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dropdown-list label {
    display: block;
    margin-bottom: 0.5rem;
    color: #682f12;
    ;
    font-size: 0.95rem;
    cursor: pointer;
}

.dropdown-list input[type="checkbox"] {
    margin-right: 0.4rem;
}

/* Submit Button */
.create-new-user button[type="submit"] {
    margin-top: 2rem;
    padding: 0.75rem;
    background-color: #ba5625;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-new-user button[type="submit"]:hover {
    background-color: #682f12;
}

.create-new-user button[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}